.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.list {
    text-align: left;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
}
.container {display: flex}
.container.menu {justify-content: space-around;}
.container.contacts {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p.desc {
    text-align: left;
    width: 50%;
}
