<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>Contact Me</title>
 </head>
 <body>
  {% extends "template.html" %}
  {% block content %}

  <div class="center">
   <h2>Contact Me</h2>
   <div class="center">
    <p><b>Email: </b> <a href="mailto:michael@thegrahamfam.com">michael@thegrahamfam.com</a></p>
    <div class="container contacts">
     <a href="https://www.linkedin.com/in/michael-graham-20b837153/" target="_blank"><img src="/static/images/linkedin_logo.png" alt="Linkedin" title="Linkedin"/></a>&ensp;
     <a href="https://github.com/GrahamM98" target="_blank"><img src="https://img.icons8.com/material-outlined/48/000000/github.png" alt="Github" title="Github"/></a>
    </div>
   </div>
  </div>

  {% endblock %}
 </body>
</html
