<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>My Experience</title>
 </head>
 <body>
  {% extends "template.html" %}
  {% block content %}

  <div class="center">
   <h2>My Experience</h2><br/>
   <div>
    <img src="/static/images/futurex.png" alt="Futurex" title="Futurex" class="center">
    <h3>Futurex</h3>
    <p><i>March 2020 - July 2021</i></p>
    <div class="center">
     <p><b>Responsibilities</b></p>
     <ul class="list">
      <li>Collected requirements on a constant influx of tickets</li>
      <li>Implemented required changes while adhering to the company’s coding standards</li>
      <li>Provided detailed end of day reports on my activities for the work day</li>
      <li>Coordinated regularly with QA testers to assist with their testing of changes I introduced</li>
     </ul>
     <p><b>Developed Skills</b></p>
     <ul class="list">
      <li><b>Languages: </b>C++, Python, Javascript, SQL, QML</li>
      <li><b>Other Technologies: </b>QT, Git, Jira, Hashicorp Vault, Cryptography, Tokenization, UI Design, API Design</li>
      <li>Working with unfamiliar technologies</li>
      <li>Working in a small team</li>
      <li>Communication with QA testers to assist in testing</li>
     </ul>
    </div>
   </div>
  </div>

  {% endblock %}
 </body>
</html
