<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
  <meta charset="utf-8">
  <title>Base Template</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">

 </head>
 <body>
  <header>
   <div class="center">
    <h1 class="logo">Michael Graham</h1>
    <div class="container menu">
     <a href="{{ url_for('about') }}">About</a>
     <a href="{{ url_for('projects') }}">Projects</a>
     <a href="{{ url_for('experience') }}">Experience</a>
     <a href="{{ url_for('contacts') }}">Contact Me</a>
    </div>
    </nav></strong>
   </div>
  </header>

  {% block content %}
  {% endblock %}

 </body>
</html>
